@page
@model GGData.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de registo";
}

<h1>@ViewData["Title"]</h1>

<p>
    Obrigado por se registar! Por favor confirme o seu email.
</p>

@if (Model.DisplayConfirmAccountLink)
{
    <p>
        Como este é um ambiente de desenvolvimento, aqui está o link para confirmar a conta diretamente:
        <br />
        <a href="@Model.EmailConfirmationUrl">Confirmar Conta</a>
    </p>
}
else
{
    <p>
        Um email de confirmação foi enviado para <strong>@Model.Email</strong>. Por favor, verifica o email para confirmar a conta.
    </p>
}
